<br>
<br>
<div [ngStyle]="{backgroundImage:'url(../../assets/image/image.jpg'}" >
    <h2 style="color: black; text-align: center;">Bienvenue dans notre application</h2>

    <div id="pricing" >
        <h1 style="color: black; text-align: center;"> Notre application vous présente la librairie des films, elle vous offre la gestion des films: la consultation, la recherche, la modification et la suppression</h1>

        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-3">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

</div>
